<aside>
  <h3>メニュー</h3>
  <ul>
    <li><%= link_to "トップページ", root_path %></li>
    <li><%= link_to "ブックマーク一覧", bookmarks_path %></li>
    <li><%= link_to "新規登録", new_bookmark_path %></li>
  </ul>
</aside>
